{% extends 'base.html' %}

{% block content %}
<div class="panel glass">
    <h2>Edit Note</h2>

    <form method="POST">

        <input type="text"
               name="title"
               value="{{ note.title }}"
               required>

        <input type="text"
               name="subject"
               value="{{ note.subject }}"
               required>

        <textarea name="description">{{ note.description }}</textarea>

        <textarea name="content"
                  rows="12"
                  required>{{ note.content }}</textarea>

        <button type="submit" class="btn">
            Update Note
        </button>

    </form>
</div>
{% endblock %}