{% extends 'base.html' %}
{% block content %}

<div class="panel glass">
  <h1>Edit Note</h1>

  <form method="POST" class="form-card">
    <label>Title</label>
    <input type="text" name="title" value="{{ note.title }}" required>

    <label>Subject</label>
    <input type="text" name="subject" value="{{ note.subject }}" required>

    <label>Description</label>
    <textarea name="description" rows="3">{{ note.description }}</textarea>

    <label>Content</label>
    <textarea name="content" rows="12" required>{{ note.content }}</textarea>

    <button type="submit" class="btn">Update Note</button>
  </form>
</div>

{% endblock %}
